@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
}

.navbar .container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    padding: 8px 10px;
    text-decoration: none;
    color:#fff;
}

.navbar a:active,
.navbar a:hover {
    border-radius: 3px;
    background-color: #555;
}

.container {
    margin-top: 4rem;
    width: 100%;
    height: 100%;
}

.container .row {
    width: 80%;
    margin: auto;
}

.container .row .title {
    text-align: center;
}

/* form */
.box {
    width: 50%;
    overflow-x: auto;
    border: 2px solid grey;
    margin: auto;
    padding: 20px;
}
.form-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    margin: auto;
}

.form-control {
    border: 1px solid grey;
    outline: none;
    padding: 8px 10px;
    width: 100%;
}

.btn-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.btn {
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    color:#fff;
}

.success { background-color: green;}
.danger { background-color: red;}

/* table */
.table-box {
    width: 80%;
    margin: auto;
    overflow-x: auto;
}

table {
    table-layout: fixed;
    text-align: center;
}

table,tr,th,td {
    border: 1px solid grey;
    width: 100%;
    border-collapse: collapse;
}
th,td {
    padding: 10px;
}
